{{!< main}}
<div>
    <header>
        <h1>Bienvenido a nuestra tienda</h1>
    </header>

    <div class="home-container">
    <main>
        <p>Explora nuestros productos y aprovecha nuestras ofertas exclusivas.</p>
        <section class="cta-buttons">
            <a href="/login" class="cta-button">Iniciar sesión</a>
            <a href="/register" class="cta-button">Registrarse</a>
        </section>
    </main>
    </div>
    <script src="/js/home.js"></script>
</body>